<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Práctica 11 Diego Adrián Moreno Duarte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
<ion-card id="form">
<form #alumnosForm="ngForm" (ngSubmit)="onSubmit()">
<ion-input [(ngModel)]="formData.nombre" placeholder="Nombre del alumno" name="nombre" [ngModelOptions]="{standalone: true}" rquired></ion-input>
<br>
<ion-label> Presente
<ion-checkbox [(ngModel)]="formData.presente" [ngModelOptions]="{standalone: true}"></ion-checkbox>
</ion-label>
<br>
<ion-button color="danger" type="submit" slot="end">Agregar</ion-button>
</form>
</ion-card>
</div>
<ion-list *ngFor="let alumno of alumnos">
  <ion-item>{{alumno.nombre}} <ion-icon *ngIf="alumno.presente" name="happy-outline"></ion-icon><ion-icon *ngIf="!alumno.presente" name="sad-outline"></ion-icon> </ion-item>

</ion-list>
</ion-content>